<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>O.R.N.G. Journal/Fiction/Documentation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Fiction and Journal entries from 1990 through 2024, including memories back to 1970, as well as web articles covering electronics, computers, coding, wrenching, and cooking">
  </head>
  <body><script src="20250615T151354833Z-52654bf1.js"></script></body>
</html>
